/* 实现一图流 */
/* 首页文章卡片 */
#recent-posts > .recent-post-item{
    background:rgba(255, 255, 255, 0.95);
  }
  /* 首页侧栏卡片 */
  .card-widget{
  background:rgba(255, 255, 255, 0.95)!important;
  }
  /* 文章页面正文背景 */
  div#post{
  background: rgba(255, 255, 255, 0.95);
  }
  /* 分页页面 */
  div#page{
  background: rgba(255, 255, 255, 0.95);
  }
  /* 归档页面 */
  div#archive{
  background: rgba(255, 255, 255, 0.95);
  }
  /* 标签页面 */
  div#tag{
  background: rgba(255, 255, 255, 0.95);
  }
  /* 分类页面 */
  div#category{
  background: rgba(255, 255, 255, 0.95);
  }
  
  /* 页脚透明 */
  #footer{
    background: transparent!important;
  }
  /* 头图透明 */
  #page-header{
    background: transparent!important;
  }
  /*白天模式伪类遮罩层透明*/
  [data-theme="light"]
    #footer::before{
        background: transparent!important;
      }
  /*夜间模式伪类遮罩层透明*/
  [data-theme="dark"]
    #footer::before{
        background: transparent!important;
      }
  [data-theme="dark"]
    #page-header::before{
      background: transparent!important;
      }
  /*夜间模式页面背景设置为半透明*/
  [data-theme="dark"]
    div.recent-post-item{
        background: rgba(0, 0, 0, 0.5)!important;
      }
  [data-theme="dark"]
    #aside-content .card-widget{
        background: rgba(0, 0, 0, 0.5)!important;
      }
  [data-theme="dark"]
    div#post{
      background: rgba(0, 0, 0, 0.5)!important;
      }
  [data-theme="dark"]
    div#page{
      background: rgba(0, 0, 0, 0.5)!important;
      }
  [data-theme="dark"]
    div#archive{
      background: rgba(0, 0, 0, 0.5)!important;
      }
  [data-theme="dark"]
    div#tag{
      background: rgba(0, 0, 0, 0.5)!important;
    }
  [data-theme="dark"]
    div#category{
      background: rgba(0, 0, 0, 0.5)!important;
    }
    
  /*阅读模式*/
  .read-mode #aside-content .card-widget{
        background: rgba(158, 204, 171, 0.5)!important;
      }
  .read-mode div#post{
      background: rgba(158, 204, 171, 0.5)!important;
      }
  /*夜间阅读模式*/
  [data-theme="dark"]
    .read-mode #aside-content .card-widget{
          background: rgba(0, 0, 0, 0.5)!important;
          color: #eeeeee;
        }
  [data-theme="dark"]  
    .read-mode div#post{
        background: rgba(0, 0, 0, 0.5)!important;
        color: #eeeeee;
        }

/* 上一篇下一篇圆角，背景色 */
#pagination.pagination-post {
  border-radius: 20px;
  background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
}

:root {
  --default-bg-color: rgb(0, 0, 0, 0.3);
}

/* 访客位置信息 */
#welcome-info {
  overflow: hidden;
  --welcome-card-color: #475D90;
}
#welcome-info .welcome-time {
  width: 100%;
  margin: 12px 0 0;
  display: inline-flex;
}
#welcome-info .welcome-message {
  width: 100%;
  margin-bottom: 8px;
  display: inline-flex;
}


/* 各种圆角 */
/*个人信息按钮圆角，按钮背景颜色渐变过渡*/
#card-info-btn {
  font-size: 18px;
  font-family: DongFangDaKai;
  background: linear-gradient(to right, #3ab5b0 0%, #3d99be 31%, #56317a 100%);
  background-size: 140%;
  transition: background-position .5s;
  border-radius: 25px !important;
  overflow: hidden;
}

#card-info-btn:hover {
  background-position: 100% 0;
}

/*文章卡片圆角*/
.layout > div:first-child:not(.recent-posts) {
  border-radius: 35px;
}

/*目录卡片圆角*/
#aside-content .card-widget {
  border-radius: 20px;
}

#aside-content #card-toc .toc-content .toc-link.active {
  background: #475D90;
  border-radius: 10px;
}

/*首页文章圆角*/
.layout .recent-post-items .recent-post-item {
  border-radius: 20px !important;
}

/*图片圆角*/
#article-container img {
  border-radius: 15px;
}

/*个人信息美化*/
#aside-content .card-info .author-info-name {
  font-family: SmileySans-Oblique, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#aside-content .card-info .site-data {
  display: none;
}

.site-data > a .headline {
  color: rgb(0 0 0 / 100%);
}

/* 底部运行时间样式 */
div#runtime {
  margin: 10px auto;
  width: fit-content;
  color: #fff;
  font-family: 'DongFangDaKai';
  padding: 0 10px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 5px rgba(253, 50, 104, 0.71);
}

[data-theme="dark"] div#runtime {
  color: rgb(230, 103, 103, 0.9);
  box-shadow: 0 0 5px rgba(28, 69, 218, 0.71);
}

/* 加载动画 */
.loading-img {
  background: url(https://pic.imgdb.cn/item/64ac12ac1ddac507cc4a66b8.jpg) no-repeat center center;
  background-size: cover;
}

/* 全局吸底播放器 */
/* Aplayer日间模式调整 */
/* 背景色 */
.aplayer {
  background: rgba(255, 255, 255, 0.9) !important;
  border-radius: 10px 10px 0 0 !important;
  font-family: SanJiYuanTiJian, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Lato, Roboto, "PingFang SC", "Microsoft JhengHei", "Microsoft YaHei", sans-serif !important;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.07), 0 1px 5px 0 rgba(0, 0, 0, 0.1);
  position: relative;
}

.aplayer.aplayer-fixed .aplayer-lrc:after,
.aplayer.aplayer-fixed .aplayer-lrc:before {
  display: none;
}

.aplayer.aplayer.aplayer-fixed .aplayer-body {
  background: rgba(255, 255, 255, 0.9) !important;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.07), 0 1px 5px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
}

/* 圆角 */
.aplayer.aplayer-fixed .aplayer-list {
  border-radius: 10px 10px 0 0 !important;
}

.aplayer.aplayer-fixed .aplayer-miniswitcher {
  border-radius: 0 10px 10px 0 !important;
}

.aplayer.aplayer-fixed.aplayer-narrow .aplayer-body {
  transition: 0.28s !important;
  border-radius: 10px !important;
}

/* 选中与播放中歌曲激活颜色 */
.aplayer .aplayer-list ol li:hover {
  background: rgb(230, 103, 103, 0.9) !important;
}

.aplayer .aplayer-list ol li.aplayer-list-light {
  background: rgb(230, 103, 103, 0.9) !important;
}

/* 歌词 */
.aplayer-lrc p {
  color: #ffffff !important;
  text-shadow: #000000 1px 0 0, #000000 0 1px 0, #000000 -1px 0 0, #000000
      0 -1px 0 !important;
}

/* Aplayer黑暗模式 */
[data-theme="dark"] .aplayer {
  background: rgba(22, 22, 22, 0.5) !important;
  color: rgb(255, 255, 255);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.07), 0 1px 5px 0 rgba(0, 0, 0, 0.1);
}

[data-theme="dark"] .aplayer.aplayer-fixed .aplayer-body {
  background: rgba(22, 22, 22, 0.5) !important;
  color: rgb(255, 255, 255);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.07), 0 1px 5px 0 rgba(0, 0, 0, 0.1);
}

[data-theme="dark"]
  .aplayer
  .aplayer-info
  .aplayer-controller
  .aplayer-time
  .aplayer-icon
  path {
  fill: #d4d4d4;
}

[data-theme="dark"] .aplayer .aplayer-list ol li:hover {
  background: rgb(230, 103, 103, 0.6) !important;
}

[data-theme="dark"] .aplayer .aplayer-list ol li.aplayer-list-light {
  background: rgb(230, 103, 103, 0.6) !important;
}

[data-theme="dark"] .aplayer .aplayer-info .aplayer-controller .aplayer-time {
  color: #d4d4d4;
}

[data-theme="dark"] .aplayer .aplayer-list ol li .aplayer-list-index {
  color: #d4d4d4;
}

[data-theme="dark"] .aplayer .aplayer-list ol li .aplayer-list-author {
  color: #d4d4d4;
}

/* Width的值可根据喜好调整（屏幕的宽度） */
@media (max-width: 960px) {
  /* Aplayer音乐标签伸缩 */
  .aplayer.aplayer-fixed.aplayer-narrow .aplayer-body {
    left: -66px !important;
    /* 默认情况下缩进左侧66px，只留一点箭头部分 */
  }

  .aplayer.aplayer-fixed.aplayer-narrow .aplayer-body:hover {
    left: 0 !important;
    /* 鼠标悬停是左侧缩进归零，完全显示按钮 */
  }
}


#site-title, .site-name {
  font-family: 'SmileySans-Oblique'!important;
}

#sidebar #sidebar-menus .menus_items .site-page:hover {
  border-radius: 30px;
}